<!--<h1 class="text-center">Bihin.com</h1>-->
<%= image_tag 'logo.png', :size => '375x116', class:'img-responsive center-block' %>
<form>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
             <input type="text" class="form-control" placeholder="備品名、型番">
        </div>
    </div>
</form>

