<table class="table table-hover">
	<thead>
		<tr>
			<th>品名</th>
			<th>型番</th>
			<th>保管場所</th>
			<th>状態</th>
			<th>借りた人</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>