/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
/*#addBihinForm {*/
/*  margin-bottom: 0.5em;*/
/*}*/

input[type=checkbox] {
  transform: scale(2);
}

#bihinDeleteBtn {
  margin-left: 0.5em;
}

.img-circle {
  border: solid 16px #050;
}

/*.jumbotron h1 {*/
/*  text-align: center;*/
/*}*/

.jumbotron img {
  /*-webkit-transform: rotate(15deg) scale(1.4);*/
  /*transform: rotate(15deg) scale(1.4);*/
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.jumbotron img:hover {
  -webkit-transform: rotate(10deg) scale(1.05);
  transform: rotate(10deg) scale(1.05);
  opacity: .5;
}
 
/* .bihin-btn a{*/
/*     text-decoration: none;*/
/* }*/
 
/* .bihin-btn {*/
/*  display: inline-block;*/
/*  text-decoration: none;*/
/*  background: #8cd460;*/
/*  color: #FFF;*/
/*  width: 300px;*/
/*  height: 300px;*/
/*  line-height: 300px;*/
/*  border-radius: 50%;*/
/*  text-align: center;*/
/*  vertical-align: middle;*/
/*  overflow: hidden;*/
/*  box-shadow: 0px 0px 0px 5px #8cd460;*/
/*  border: dashed 1px #FFF;*/
/*  font-size: 64px;*/
/*  transition: .4s;*/
/*}*/

/*.bihin-btn:hover {*/
/*  background: #6cb440;*/
/*  box-shadow: 0px 0px 0px 5px #8cd460;*/
/*}*/

/* navbar 全体の背景色とボーダーカラー */
/*.navbar-inverse {*/
/*background-color: #65baad;*/
/*border-color: #3e6962;*/
/*}*/
/* navbar テキストカラー */
/*.navbar-inverse .navbar-nav > li > a {*/
/*color: #ffffff;*/
/*}*/
/* navbar hover,focus時のテキストカラー */
/*.navbar-inverse .navbar-nav > li > a:hover,*/
/*.navbar-inverse .navbar-nav > li > a:focus {*/
/*color: #26534c;*/
/*background-color: transparent;*/
/*}*/
/* navbar active設定時のカラー */
/*.navbar-inverse .navbar-nav>.active>a,*/
/*.navbar-inverse .navbar-nav>.active>a:focus,*/
/*.navbar-inverse .navbar-nav>.active>a:hover {*/
/*color: #26534c;*/
/*background-color: #c3ede7;*/
/*}*/
/* navbar ドロップダウン(親)のカラー */
/*.navbar-inverse .navbar-nav>.open>a,*/
/*.navbar-inverse .navbar-nav>.open>a:focus,*/
/*.navbar-inverse .navbar-nav>.open>a:hover {*/
/*color: #3e6962;*/
/*background-color: #c3ede7;*/
/*}*/
/* navbar ドロップダウン(子)のボックスカラー */
/*.dropdown-menu {*/
/*background-color: #65baad;*/
/*border: 1px solid #3e6962;*/
/*border: 1px solid #3e6962(0, 0, 0, .15);*/
/*-webkit-box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);*/
/*box-shadow: 0 6px 12px rgba(94, 136, 129, 0.35);*/
/*}*/
/* navbar ドロップダウン(子)テキストカラー */
/*.dropdown-menu>li>a {*/
/*color: #ffffff;*/
/*}*/
/* navbar ドロップダウン(子)focus,hover時のカラー */
/*.dropdown-menu>li>a:focus,*/
/*.dropdown-menu>li>a:hover {*/
/*color: #26534c;*/
/*background-color: #c3ede7;*/
/*}*/
/* navbar ドロップダウン(子)内の区切り線(class=”divider”)のカラー */
/*.dropdown-menu .divider {*/
/*background-color: #3e6962;*/
/*}*/
/* navbar 画面サイズ767px以下の時のカラー */
/*@media (max-width:767px) {*/
/*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {*/
/*color: #ffffff;*/
/*}*/
/*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,*/
/*.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {*/
/*color: #26534c;*/
/*background-color: transparent;*/
/*}*/
/* ドロップダウンactive設定時のカラー */
/*.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,*/
/*.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,*/
/*.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {*/
/*color: #ffb163;*/
/*background-color: #d4ede9;*/
/*}*/
/*}*/
/* navbar ハンバーガー四角枠 */
/*.navbar-inverse .navbar-toggle {*/
/*border-color: #ffffff;*/
/*}*/
/* navbar ハンバーガー三本線 */
/*.navbar-inverse .navbar-toggle .icon-bar {*/
/*background-color: #ffffff;*/
/*}*/
/* navbar ハンバーガーボタン,タップとホバーした時の背景色 */
/*.navbar-inverse .navbar-toggle:focus,*/
/*.navbar-inverse .navbar-toggle:hover {*/
/*background-color: #ffffff;*/
/*}*/
/* navbar ハンバーガーボタン,タップとホバーした時の四角枠 */
/*.navbar-inverse .navbar-toggle:focus,*/
/*.navbar-inverse .navbar-toggle:hover {*/
/*border-color: #65baad;*/
/*}*/
/* navbar ハンバーガーボタン,タップとホバーした時の三本線 */
/*.navbar-inverse .navbar-toggle:focus > .icon-bar,*/
/*.navbar-inverse .navbar-toggle:hover > .icon-bar {*/
/*background-color: #65baad;*/
/*}*/
/* navbar Brandのカラー */
/*.navbar-inverse .navbar-brand {*/
/*color: #ff5555;*/
/*}*/
/*.navbar-inverse .navbar-brand:focus,*/
/*.navbar-inverse .navbar-brand:hover {*/
/*color: #ff5555;*/
/*background-color: transparent;*/
/*}*/